<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsoo.water.mapper.BarrelledWaterMapper">
    
    <resultMap type="BarrelledWater" id="BarrelledWaterResult">
        <result property="waterId"    column="water_id"    />
        <result property="waterName"    column="water_name"    />
        <result property="waterType"    column="water_type"    />
        <result property="waterCapacity"    column="water_capacity"    />
        <result property="waterPrice"    column="water_price"    />
        <result property="couponPrice"    column="coupon_price"    />
        <result property="waterImage"    column="water_image"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBarrelledWaterVo">
        select water_id, water_name, water_type, water_capacity, water_price, coupon_price, water_image, del_flag, create_by, create_time, update_by, update_time, remark from jsoo_water
    </sql>

    <select id="selectBarrelledWaterList" parameterType="BarrelledWater" resultMap="BarrelledWaterResult">
        <include refid="selectBarrelledWaterVo"/>
        where del_flag = 'N'
        <if test="waterName != null  and waterName != ''"> and water_name like concat('%', #{waterName}, '%')</if>
        <if test="waterType != null  and waterType != ''"> and water_type = #{waterType}</if>
        <if test="waterCapacity != null  and waterCapacity != ''"> and water_capacity = #{waterCapacity}</if>
        <if test="waterPrice != null "> and water_price = #{waterPrice}</if>
        <if test="couponPrice != null "> and coupon_price = #{couponPrice}</if>
        <if test="waterImage != null  and waterImage != ''"> and water_image = #{waterImage}</if>
    </select>
    
    <select id="selectBarrelledWaterByWaterId" parameterType="Long" resultMap="BarrelledWaterResult">
        <include refid="selectBarrelledWaterVo"/>
        where water_id = #{waterId}
    </select>

    <insert id="insertBarrelledWater" parameterType="BarrelledWater" useGeneratedKeys="true" keyProperty="waterId">
        insert into jsoo_water
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="waterName != null">water_name,</if>
            <if test="waterType != null">water_type,</if>
            <if test="waterCapacity != null">water_capacity,</if>
            <if test="waterPrice != null">water_price,</if>
            <if test="couponPrice != null">coupon_price,</if>
            <if test="waterImage != null">water_image,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="waterName != null">#{waterName},</if>
            <if test="waterType != null">#{waterType},</if>
            <if test="waterCapacity != null">#{waterCapacity},</if>
            <if test="waterPrice != null">#{waterPrice},</if>
            <if test="couponPrice != null">#{couponPrice},</if>
            <if test="waterImage != null">#{waterImage},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBarrelledWater" parameterType="BarrelledWater">
        update jsoo_water
        <trim prefix="SET" suffixOverrides=",">
            <if test="waterName != null">water_name = #{waterName},</if>
            <if test="waterType != null">water_type = #{waterType},</if>
            <if test="waterCapacity != null">water_capacity = #{waterCapacity},</if>
            <if test="waterPrice != null">water_price = #{waterPrice},</if>
            <if test="couponPrice != null">coupon_price = #{couponPrice},</if>
            <if test="waterImage != null">water_image = #{waterImage},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where water_id = #{waterId}
    </update>

    <delete id="deleteBarrelledWaterByWaterId" parameterType="Long">
        update jsoo_water set del_flag = 'Y' where water_id = #{waterId}
    </delete>

    <delete id="deleteBarrelledWaterByWaterIds" parameterType="String">
        update jsoo_water set del_flag = 'Y' where water_id in
        <foreach item="waterId" collection="array" open="(" separator="," close=")">
            #{waterId}
        </foreach>
    </delete>
</mapper>